<template>
    <div class="entry-container mb-3 pointer p-2"
        @click="$router.push({name: 'entry', params: {id:10}})">
        <div class="entry-title d-flex">
            <span class="text-success fs-5 fw-bold">15</span>
            <span class="mx-1 fs-5">Diciembre</span>
            <span class="mx-2 fw-light fs-5">2022, jueves</span>
        </div>
        <div class="entry-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias minus ullam sequi quisquam quidem adipisci voluptas nesciunt consequatur odio reiciendis exercitationem, consequuntur quo soluta natus, dolore ab atque in? Exercitationem!
        </div>
    </div>
</template>
<script>
export default{
    name: 'Entry-daybook'
}
</script>

<style lang="scss" scoped>
.entry-container{
    border-bottom: 1px solid #2c3e50;
    transition: 0.2s all ease-in;

    &:hover{
        background-color: lighten($color: grey, $amount: 45);
        transition: 0.2s all ease-in;
    }
}
.entry-description{
    font-size: 12px;
    padding: 5px;
}

</style>