<template>
    <div class="entry-title d-flex justify-content-between p-2">
        <div>
            <span class="text-success fs-5 fw-bold">15</span>
            <span class="mx-1 fs-5">Diciembre</span>
            <span class="mx-2 fw-light fs-5">2022, jueves</span>
        </div>
        <div>
            <button class="btn btn-danger mx-2">
                borrar
                <i class="fa fa-trash-alt"></i>
            </button>
            <button class="btn btn-primary">
                subir foto
                <i class="fa fa-upload"></i>
            </button>
        </div>
    </div>

    <hr>

    <div class="d-flex flex-column px-3 h-75">
        <textarea placeholder="¿Qué sucedió hoy?"
        ></textarea>
    </div>

    <Fab 
        icon="fa-save"
    />

    <img src="https://www.mtb-mag.com/wp-content/uploads/2019/07/Screenshot-2019-07-01-at-08.05.28.jpg" alt="entry-picture">
</template>

<script>
import { defineAsyncComponent } from 'vue'

export default{
    name: 'Entry-view',
    components:{
        Fab: defineAsyncComponent(() => import('../components/Fab.vue'))
    }
}
</script>

<style lang="scss" scoped>

textarea{
    font-size: 20px;
    border: none;
    height: 100%;

    &:focus{
        outline: none;
    }
}
img{
    width: 200px;
    position: fixed;
    bottom: 150px;
    right: 20px;
    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.2);
}

</style>